<div class="signup-container">
  <div class="signup-box">
    <h2>Sign Up</h2>

    <form (ngSubmit)="signUp()">

      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />

      <button class="submitBtn" type="submit">Sign Up</button>

    </form>

    <!-- Login link -->
    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login here</a>
    </p>

  </div>
</div>