.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.signup-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding-right: 3em;
}

.signup-box h2 {
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-box button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.8em;
}

.signup-box button:hover {
  background: #3a8ee6;
}


